@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

@font-face {
  font-family: 'cocogoose';
  src: url('../fonts/cocogoose/cocogoose.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'cocogoose-light';
  src: url('../fonts/cocogoose/Cocogoose\ Pro\ Light-trial.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.attention-grabber div h1 {
  font-size: 6vw;
}

.main-content {
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
}

body {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-image: -webkit-radial-gradient(circle, #841b1f, #19123c);
  background-image: -moz-radial-gradient(circle, #841b1f, #19123c);
  background-image: radial-gradient(circle, #841b1f, #19123c);
  
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

footer {
  background-color: #8f282b;
}

.first-element {
  display: flex;
  width: 60%; 
}


.first-element div:first-child {
  position:relative;
  width: 20%;
  padding-top: 20%;
  overflow: hidden;
  background-color:  #fff;
  border: 0.5em#fff;
  border-radius: 5%;
  border-style: solid;
}

.first-element div img {
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 150%; 
  height: auto;
  object-fit: cover;
  border-radius: 5%;
}

.first-element {
  display: flex;
  gap: 5%;
}

.first-element h2 {
  font-family: 'Roboto', Arial;
  color: #fff;
  font-size: 2em;
  font-weight: bold;
}