@import url('https://fonts.cdnfonts.com/css/cocogoose');
body {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-image: -webkit-radial-gradient(circle, #028887, #16113A);
  background-image: -moz-radial-gradient(circle, #028887, #16113A);
  background-image: radial-gradient(circle, #028887, #16113A);

  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0; 
}

body, html {
  height: 100vh;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  position : fixed;
  top: 0;
}

.top-bar {
  display: flex;
  align-items: center;
  width: 45vw; 
  height: 10vh;
  margin-top: 1vh;
  position : fixed;
  top: 0;
}

/* mettre les boutons à gauche et à droite*/
.top-bar-buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.linkedin-button {
  width: 10vw;
  height: 10vh;
  background-color: #008cff;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.top-bar>a {
  text-decoration: none;
  color: #fff;
  font-family: 'Cocogoose', sans-serif;
  text-transform: lowercase;
}

.btn-custom .btn-text {
  font-size: 0.8rem;
  font-weight: 500;
}

.top-right-contact a:hover {
  color: #025288;
}

.btn-custom {
  margin-right: 10px;
  display: flex;
  align-items: center;
  background-color: rgb(67, 117, 255);
  color: white;
  padding: 5px 10px;
  height: 20px;
  text-decoration: none;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.btn-custom:hover {
  color: #025288;
}

.btn-custom img {
  height: 20px;
  margin-right: 10px; /* Espace entre le logo et le texte */
}

#linkedin-button, #krypton-button {
  margin: 0 5px; /* Cela donne un petit espace entre les deux boutons */
}

.top-right-contact {
  display: flex;   /* Aligner les boutons côte à côte */
  align-items: center; /* Centrer verticalement */
}

#linkedin-button {
  margin-right: 10px;  /* Petite marge pour séparer les deux boutons */
}
