@font-face {
  font-family: 'cocogoose';
  src: url('../fonts/cocogoose/cocogoose.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

@keyframes slideUpImage {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes slideUpH1 {
  from {
    transform: translateY(500%) translateX(-50%);
  }
  to {
    transform: translateX(-50%) translateY(35%);
  }
}


body {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-image: -webkit-radial-gradient(circle, #007c7c, #0f0b29);
  background-image: -moz-radial-gradient(circle, #007c7c, #0f0b29);
  background-image: radial-gradient(circle, #007c7c, #0f0b29);

  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0; 
}

body, html {
  height: 100vh;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 15vh;
  position : fixed;
  top: 0;
  transition: background-color 0.3s;
  z-index: 1000;
  padding-bottom: 2vh;
}

header, 
.attention-grabber,
.attention-grabber > *,
header > * {
    margin: 0;
    padding: 0;
}


.top-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50vw;
  margin-top: 4vh;
  margin-bottom: 2vh;
}

.top-bar div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15%;
}

.bar-logo-text {
  font-family: 'cocogoose', sans-serif;
  font-size: 1.2em;
  color: #fff;
  margin-left: 10px;
  text-shadow: #00000040 0px 0px 5px 0px;
  text-decoration: none;
  letter-spacing: 0.05em;
}

.bar-logo-text:hover {
  font-family: 'Cocogoose', sans-serif;

  
  color: #007a7a;
  text-shadow: #ffffff 0px 0px 10px 0px;
  margin-left: 10px;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

.linked-inn-button {
  display: flex;
  align-items: center;
  background-color: #0E76A8;
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
  
  height: 25px;

  color : #fff;
  font-family: 'Roboto', sans-serif;
  font-size: small;
  font-weight: 700;
  text-decoration: none;
  box-shadow: #00000040 0px 0px 5px 0px;
  transition: all 0.2s ease-in-out;
}

.linked-inn-button:hover {
  background-color: #007a7a;
  box-shadow: #ffffff40 0px 0px 5px 0px;
}

.linked-inn-button:active {
  background-color: #16113A;
  box-shadow: #ffffff40 0px 0px 5px 0px;
}

.linked-inn-button img {
  align-self: start;
  align-items: center;
  margin-right: 5px;
  width: 15px;
  height: 15px;
}

.linked-inn-button p {
  white-space: nowrap;
}

.avatar-logo-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50%;
}

.avatar-logo-row img {
  width: auto;
  height: 50px;
  border-radius: 50%;
  border: 2px solid #ffffff;
  box-shadow: #00000040 0px 0px 5px 0px;
}

.avatar-logo-row img:hover {
  border-color: #007a7a;
  box-shadow: #ffffff40 0px 0px 5px 0px;
}

.avatar-logo-row img:active {
  box-shadow: #ffffff40 0px 0px 5px 0px;
}

aside {
  position: fixed;
  display: flex;
  align-items: center;
  margin-left: 4vw;
  top: 0;
  left: 0;
  width: 80px; 
  height: 100%;
  z-index: 1000;
  background-color: transparent;
}

aside nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: space-around; 
  height: 100%;
  gap: 2vh;
}

.navigation-buttons {
  margin: 10px 0; 
}

.navigation-buttons a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px; 
  height: 50px;
  border-radius: 5px;
  transition: all 0.3s;
}

.navigation-buttons a:hover {
  background-color: #ffffff80;
}

.navigation-buttons a img {
  width: 45%;
  height: auto;
}

.navigation-buttons a.active-page {
  background-color: #007a7a; /* Mettez la couleur verte pour le bouton actif */
}

.main-content {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50vw;
  height: 100vh;
  margin-bottom: 2vh;
}

main {
  margin-top: 40%;
}

.attention-grabber {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  height: 50vh;
}

.attention-grabber img {
  animation: slideUpImage 0.5s forwards;
  height: 100%;
  display: block;
}

.attention-grabber h1 {
  animation: slideUpH1 0.75s forwards;
  position: absolute; 
  left: 50%;
  transform: translateX(-50%) translateY(35%);
  color: #ffffff; 
  padding: 5px 10px; 
  font-family: 'cocogoose', sans-serif;
  text-shadow: #000000 0px 0px 25px;
  letter-spacing: 0.05em;
}

